body{
	font-family: 'Overpass', sans-serif;
}

.rs-control{
	display: inline-block;
}
.rs-control .rs-range-color,
.rs-control .rs-path-color,
.rs-control .rs-bg-color {
  background-color: transparent;
}
.rs-control .rs-handle {
  background: #b6f5ff;
}
.rs-control circle.path-bg {
  /* mention the path color here */
  stroke: #1f3664;
}
.rs-control circle.range-bg {
  /* mention the range color here */
  stroke: #02b4ff;
}

.rs-control .rs-border {
	border: 1px solid #005a4d;
}
.rs-tooltip-text {
  font-size: 40px;
  font-family: "Overpass" !important;
}


 .rs-control .rs-tooltip {
  top: 50%;
  font-size: 18px;

}

.main-canvas{
	background-image: url('assets/gb.jpg');
	background-size: 100% 700px;
	/*background-color: black;*/
	padding-top: 50px;
}

.time-section{
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: center;
}

.dua{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	border: 1px solid grey;
}
#arabic-dua{
	font-size: 24px;
}

.footer {
   /*left: 0;*/
   /*bottom: 0;*/
   /*width: 100%;*/
   background-color: black;
   color: white;
   text-align: center;
}