body{
	font-family: 'Overpass', sans-serif;
}

.rs-control .rs-range-color {
    background-color: #3CB371;
}
.rs-control .rs-path-color {
    background-color: white;
}
.rs-control .rs-handle {
    background-color: #3CB371;
}
.rs-control .rs-bg-color {
    background-color: white;
}

.rs-control .rs-border {
    border-color: #3cb37159;
}

.rs-tooltip-text {
  font-size: 40px;
  font-family: "Overpass" !important;
}


 .rs-control .rs-tooltip {
  top: 50%;
  font-size: 18px;

}

.main-canvas{
/*	background-image: url('assets/b3.jpg');
	background-size: contain;
	background-size: 100% 700px;*/
}

.time-section{
	margin-top: 5%;
	margin-bottom: 3%;
}